body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Stalinist One", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 2.0), rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.3));
    color: white;
}

#startContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 40vw;
    height: 40vw;
    max-width: 400px;
    max-height: 400px;
    transform: translate(-50%, -50%);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.7s ease-in-out; /* Change the transition to include the background property */
}

.flavortext{
    font-size: 1.2em;
}

#fragment, #fragment2 {
    position: fixed;
    top: 50%;
    width: 5vw;
    height: 5vw;
    background-color: aliceblue;
    transition: transform 0.3s, width 0.3s, height 0.3s; /* Add transition for transform, width, and height */
}

#fragment:hover, #fragment2:hover {
    transform: rotate(45deg) scale(1.5); /* Rotate and scale the fragment on hover */
}

#fragment {
    left: 5%;
}

#fragment2 {
    left: 85%;
}

#startContainer:hover {
    background: url('/assets/images/soul.jpg') center/cover no-repeat; /* Use background shorthand property */

}

#startButton {
    animation: float 4s linear infinite;
    padding: 10px 20px;
    font-size: 1.7em;
}

#startContainer:hover #startButton {
    color: black;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

#fragmentContainer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: background-color 0.7s;
    padding: 20px;
}

footer {
    text-align: center;
    margin-top: auto;
    width: 100%;
}

#decal1 {
    width: 20%;
    max-width: 100px;
    height: auto;
}
